
  
.fira-sans-bold {  
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }

  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }

  /* .fira-sans-thin { 
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .fira-sans-thin-italic {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .fira-sans-extralight-italic {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .fira-sans-light-italic {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
  }
  

  

/* Nav styles */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 160px;
}

nav ul li {
    list-style: none;
}

.btn-primary{
   font-weight: SemiBold;
   font-size: 18px;
   color: #006A50;
   padding: 15px 30px;
   border-radius: 8px;
   border-color: #006A50;
}

.btn-secondary{
font-weight: semibold;
    background-color: rgba(0, 106, 80, 1);
    border-radius: 8px;
    color: #FFFFFF;
    padding: 17px 34px;
    border-color: #006A50;
                                                            
}

/* banner-content styles */

.banner-title {

font-size: 24px;
font-weight: medium;
color: rgba(14, 14, 14, 0.5);
}

.banner-description{
font-weight: bold;
font-size: 56px ;

}

.banner-profile-pic{
    width: 474px;
    height: 400px;
}

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 59px 0 59px;
}
.banner-content{
    width: 622px;
    height: 326px;
}

/* main shared styles */
.section-title{
font-size: 40px;
font-weight: bold;
color: #0E0E0E;
}

.section-description{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    font-weight: regular;
}

.secondary-bg{

    background-color: rgba(198, 228, 214, 1);
}

.about{
    padding: 160px;
    text-align: justify;
    margin: 0 auto ;
}

/* about  */

.header{
    border-radius: 24px;
    max-width: 1280px;
   
    margin: 0 auto;
    padding: 160px;
    margin-top: 50px;
}

.about-comtainer{

    display: flex;
    gap: 48px;

}
.skill{
    padding: 24px;
}

.about-first{
    background-color: rgba(84, 144, 245, 0.2);
    border-radius: 16px;
}
.about-second{
    background-color: rgba(198, 228, 214, 1);
    border-radius: 16px;
}

.about-third{
    background-color: #F7EBCF;
    border-radius: 16px;
    
    
}